{% extends 'accounts/main.html' %}
{%block content%}
{%  include 'accounts/status.html' %}

        <div class="row">
                <div class="col">
                        <h3>CUSTOMERS:</h3>
                        <hr>
                        <div class="container">
                                <div class="border p-4">
                                        <div class="btn btn-primary w-100">
                                                Creat Customer
                                        </div>
                                        <div class="row p-2">
                                                <div class="col-8">
                                                        <strong>   Customer</strong>
                                                </div>
                                                <div class="col-4">
                                                        <strong>Orders</strong>
                                                </div>
                                        </div>

                                </div>
                        </div>
                </div>
                <div class="col">
                        <h3>LAST 5 ORDERS</h3>
                        <hr>
                        <div class="container">
                                <div class="border p-4">
                                        <div class="btn btn-primary w-100">
                                                Create Order
                                                

                                        </div>
                                        <div class="row p-2">
                                                <div class="col">
                                                        <strong> Product</strong>
                                                </div>
                                                <div class="col">
                                                        <strong>Date ordered</strong>
                                                </div>
                                                <div class="col">
                                                        <strong>Status</strong>
                                                </div>
                                                <div class="col">
                                                        <strong>Update</strong>
                                                </div>
                                                <div class="col">
                                                        <strong>Remove</strong>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
{%endblock%}