<!DOCTYPE html>
<html >
    <head>
        <title>FLASH</title>
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
  
    
   
  
</html>
        <style>
            body{
                background-color: #ebeff5;
            }
            #total-orders{
                background-color: #4cb4c7;
            }
            #orders-delivered{
                background-color: #7abecc;
            }
            #orders-pending{
                background-color: #7CD1C0;
            }
        </style>
    </head>
    <body>
        {%  include 'accounts/navbar.html' %}
        {%block content%}
   

        {%endblock %}
        <hr>
        <h5>footer</h5>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    </body>
    
</html>